*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
main{
    background-color: #eafaf1;
}
main header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8em;
}
header nav ul{
    display: flex;
    list-style-type: none;
}
header ul li{
    padding-inline: 30px;
}
header ul li a{
    text-decoration: none;
}
/* SECTION QUOTE */
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote > *{
    margin: 10px 0;
}
.quote h2{
    font-size: 3rem;
    text-align: center;
    width: 9em;
}
.quote p{
    width: 34em;
    line-height: 2em;
    text-align: center;
}
/* Article Cards */
/* article .cards-container{

} */
